body {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-style: normal;
    font-size: 66%;
    letter-spacing: 0.2vh;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
	src: local('../fonts/HelveticaNeueCyr-UltraLight'),
		url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
    font-family: 'Kyiv*Sans Beta3';
    src: url('../fonts/KyivSansBeta-Regular3.eot');
    src: local('../fonts/Kyiv*Sans Beta Regular3'), local('Kyiv*SansBeta-Regular3'),
        url('../fonts/KyivSansBeta-Regular3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KyivSansBeta-Regular3.woff2') format('woff2'),
        url('../fonts/KyivSansBeta-Regular3.woff') format('woff'),
        url('../fonts/KyivSansBeta-Regular3.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.sign_header li {
    height: 0.7rem;
    width: 0.7rem;
    background-color: #ececec;
}

.close {
    font-size: 95%;
    letter-spacing: 0.2vh;
    color: #ececec;
}

.about_menu {
    list-style-type: none;
    font-family: 'Kyiv*Sans Beta3';
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    letter-spacing: 1px;
    margin-top: 0;
    color: #ececec;
    padding-bottom: 2vh;
}

.home_menu {
    list-style-type: none;
    font-family: 'Kyiv*Sans Beta3';
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    letter-spacing: 1px;
    margin-top: 0;
    color: #ececec;
    padding-bottom: 2vh;
}

.painting_menu {
    list-style-type: none;
    font-family: 'Kyiv*Sans Beta3';
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    letter-spacing: 1px;
    margin-top: 0;
    color: #ececec;
    padding-bottom: 2vh;
}

.contacts_menu {
    list-style-type: none;
    font-family: 'Kyiv*Sans Beta3';
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    letter-spacing: 1px;
    margin-top: 0;
    color: #ececec;
    padding-bottom: 2vh;
}

.big_menu {
    display: grid;
    align-self: center;
}

.menu_group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    font-family: 'Kyiv*Sans Beta3';
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0;
}

p1 {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-style: normal;
    font-size: 20%;
    letter-spacing: 0.2vh;
}

.info_menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    font-size: 95%;
    letter-spacing: 0.2vh;
    color: #ececec;
    padding-left: 0;
}

.info_menu a {
    color: #ececec;
}



body {
    height: 100vh;
    background: #010101;
    cursor: none;
    margin: 0;

}

body h1,
body p,
body a {
    color: #ececec;
}

body .cursor {
    pointer-events: none;
}

body .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

body .cursor__ball circle {
    fill: #ececec;
}

body .left,
    {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .right {
    background: #ececec;
}

body .right a {
    border-bottom: 2px solid #000;
}

body .right h1,
body .right p,
body .right a {
    color: #000;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

#preload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    z-index: 2020;
    background-color: black;
    position: fixed;
}

#preload {
    z-index: 2020;
    background-color: #ececec;
    ;
    animation-name: preloader-frame-fade;
    animation-duration: 3s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    visibility: hidden;
    height: 0;
    animation-timing-function: ease-out;
}

@keyframes preloader-frame-fade {
    0% {
        visibility: visible;
        height: 100vh;
    }

    60% {
        height: 100vh;
    }

    99% {
        height: 0;
    }

    100% {
        visibility: hidden;
    }
}

.page {
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 1120px) {

    .big_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 6vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

    .about_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 6vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

    .home_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 6vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

    .painting_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 6vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

    .contacts_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 6vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

}


@media screen and (max-width: 992px) {

    .big_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 7vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

    .about_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 7vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

    .home_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 7vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

    .painting_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 7vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

    .contacts_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 7vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 3vh;
    }

}

@media screen and (max-width: 576px) {

    .big_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 11vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding: 3vh;
    }

    .about_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 11vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 5vh;
    }

    .home_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 11vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 5vh;
    }

    .painting_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 11vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 5vh;
    }

    .contacts_menu {
        list-style-type: none;
        font-family: 'Kyiv*Sans Beta3';
        font-style: normal;
        font-weight: normal;
        font-size: 11vw;
        letter-spacing: 1px;
        margin-top: 0;
        color: #ececec;
        padding-bottom: 5vh;
    }

}
